<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjiajun.equipmentledger.mapper.EquipmentMapper">

    <resultMap id="BaseResultMap" type="com.linjiajun.equipmentledger.entity.Equipment">
            <id property="deviceNo" column="device_no" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="manufacturer" column="manufacturer" jdbcType="VARCHAR"/>
            <result property="manufactureDate" column="manufacture_date" jdbcType="TIMESTAMP"/>
            <result property="purchaseDate" column="purchase_date" jdbcType="TIMESTAMP"/>
            <result property="purchasePrice" column="purchase_price" jdbcType="NUMERIC"/>
            <result property="workshopId" column="workshop_id" jdbcType="VARCHAR"/>
            <result property="owner" column="owner" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        device_no,model,manufacturer,
        manufacture_date,purchase_date,purchase_price,
        workshop_id,owner,status,
        remark,created_at,updated_at
    </sql>
</mapper>
